/* *{margin: 0} */

* {
  box-sizing: border-box;
}

body {
  font-family: Didot;
  position: relative;
}

.headerTop {
  background-color: rgb(237, 227, 216);
  padding: 4px;
}

h1 {
  text-align: center;
  font-family: Didot;
  color: rgb(110, 126, 151);
}

.navigation {
  border-color: black;
  border-style: groove;
  border-width: 2px;
  background-color: silver;
  padding: 4px;
}

.navigationList {
  display: flex;
  justify-content: space-evenly;
}

.navigation .navigationList a {
  color: gold;
  text-decoration: double;
}

.navigation .navigationList a:hover {
  color: rgb(194, 35, 115);
}

#introMe {
  background-color: rgb(163, 192, 157);
}

.introTitle {
  text-align: center;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
  color: goldenrod;
}

.introInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.introInfo p {
  color: darkolivegreen;
}

.introInfo figcaption {
  color: darkmagenta;
}

#stationsMe {
  background-color: rgb(97, 127, 93);
}

.stationsLifeTitle {
  text-align: center;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
  color: goldenrod;
}

.stationsLife {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.worldMap {
  border-radius: 45%;
}

.pinIcon {
  position: absolute;
  top: 200px;
}

#skillMe {
  background-color: rgb(24, 57, 57);
}

.skillsetTitle {
  text-align: center;
  color: goldenrod;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.skillLanguage {
  color: rgb(226, 110, 43);
}

.skillHobbies {
  color: rgb(40, 24, 85);
}

.skillset ul li::before {
  content: "\2022"; /* Unicode character for bullet (•) */
  color: rgb(126, 178, 231);
  display: inline-flex;
  width: 2em;
}

#linksMe {
  background-color: rgb(84, 70, 98);
}

.favouriteLinksTitle {
  text-align: center;
  color: goldenrod;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}

.favouriteLinksSet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.favouriteLinks {
  color: rgb(226, 110, 43);
}

a:hover {
  color: rgb(194, 35, 115);
}

footer {
  background-color: rgb(81, 47, 47);
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

#topButton {
  /*needs to be coded with JS*/
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(136, 255, 0);
  border-radius: 50%;
}
